{% extends "challenge.html" %}

{% block content %}

{% if user and user.is_authenticated %}
<h3>User Profile</h3>
<pre><code>
Username: {{ user.username }}
Email:    {{ user.email }}
Admin:    {{ user.is_superuser }}
ID:       {{ user.id }}

</pre></code>

<fieldset class="flex-spread">
  <div class="flex-item"><a class="button" href="/profile/{{ user.username }}">Download Backup</a></div>
  <!-- lol -->
  <div class="flex-item"><a class="button" href="{{ url('restore-backup') }}">Restore Backup</a></div>
  <!-- <div class="flex-item"><a class="button" href="{\{ url('hints/xxe.html') }}">weaponized</a></div> -->
</fieldset>

{% else %}
<div class="flex-spread flex-center">
<div>
<p>Please <a href="{{ url('login') }}">login</a> to see this page.</p>
<!-- padding -->
<div style="height: 6em;"></div>
</div>
</div>
{% endif %}

{% endblock %}
