{% extends "base.html" %}

{% block headerkludge %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url('home') }}">Home</a></li>
    <li><a href="{{ url('exercises') }}">Exercises</a></li>
    <li class="is-active"><a href="#" aria-current="page">Broken Access Control</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<h3 class="title">User Profile</h3>
{% if user and user.is_authenticated %}
<div class="section box">
<table class="table columns">
  <tbody class="column is-narrow">
    <tr><th>Username</th> <td>{{ user.username }}</td></tr>
    <tr><th>Email</th>    <td>{{ user.email }}</td></tr>
    <tr><th>Admin</th>    <td>{{ user.is_superuser }}</td></tr>
    <tr><th>ID</th>       <td>{{ user.id }}</td></tr>
  </tbody>
  {% if employee %}
  <tbody class="column is-narrow">
    <tr><th>SSN</th>      <td>{{ employee.ssn }}</td></tr>
    <tr><th>DOB</th>      <td>{{ employee.date_of_birth }}</td></tr>
    <tr><th>Phone</th>    <td>{{ employee.phone }}</td></tr>
  </tbody>
  {% else %}
  <tbody class="column is-narrow">
    <tr><th>SSN</th>      <td></td></tr>
    <tr><th>DOB</th>      <td></td></tr>
    <tr><th>Phone</th>    <td></td></tr>
  </tbody>
  {% endif %}
</table>
</div>

<div class="section">
  <div class="field">
    <div class="control is-narrow">
      <!-- not possible to reverse match with regex paths or something -->
      <a class="button" href="{{ url('profile') }}/backup/{{ user.id }}">Download Backup</a>
    </div>
  </div>
  <p class="content">I'd provide SLAs, but I just keep getting pwnd. Keep a backup.</p>
</div>

{% else %}
<div class="section content">
  <p>Please <a href="{{ url('login') }}">login</a> to see this page.</p>
</div>
{% endif %}
{% endblock %}
