{% extends "syntax_highlight.html" %}

{% block headerkludge %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url('home') }}">Home</a></li>
    <li><a href="{{ url('exercises') }}">Exercises</a></li>
    <li class="is-active"><a href="#" aria-current="page">
        {% block exercise_name %}Insecure Deserialization{% endblock %}</a></li>
  </ul>
</nav>
{% endblock %}

{% block body %}
<h3 class="title">Restore User Profile</h3>

<p class="content">
There's quite a few bugs here.
</p>

<form class="box" action="{{ url('deserialize-user') }}" method="POST">
  <div class="field">
    <div class="control">
      <textarea class="textarea" placeholder="Paste your backup here" rows="6" name="profile"></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button name="submit" class="button is-link">Restore</button>
    </div>
  </div>
</form>
<p class="content">You can download a backup from your <a href="{{ url('profile') }}">profile</a>.</p>

<pre><code>
@require_http_methods(['POST'])
def deserialize_user(request):
    try:
        profile = request.FILES['profile'].read()
        data = pickle.loads(codecs.decode(profile, 'base64'))
        user = auth.models.User.objects.get(username=data['username'])
    except auth.models.User.DoesNotExist:
        # Oops, lost the data lol
        # something like this happens, but not really
        user = auth.models.User.objects.create(**data)
    except Exception as e:
        return render(
            request,
            'vulnerable/_error.html',
            {'error': 'Something went wrong.', 'retry_name': 'profile'}
        )

    return render(request, 'vulnerable/profile.html', {'user': user})

</code></pre>

<script>
  document.getElementById("file").onchange = function() {
    document.getElementById("filename").innerText = this.value.split(/(\\|\/)/g).pop();
  }
</script>
{% endblock %}

{% block help %}
<p>If you're here doing the Broken Access Control exercise, this help is not for you ;) Keep at it.</p>

<p>Insecure Deserialization occurs when applications deserialize user-controlled content
without first verifying its integrity. Discovering such a vulnerability is usually difficult,
but successful exploitation always has the potential for critical compromise.</p>

<h4 class="subtitle">Exploitation</h4>
<p>Exploitation requires an attacker to input malicious serialized data into an
application's deserializing routine.</p>
<p>For our exercise, you should consider what constitutes malicious serialized data to
begin with. This application uses <a target="_blank" href="https://docs.python.org/3/library/pickle.html">pickles</a>
to backup and restore user content. The user can then restore their data by uploading
the (base64-encoded) pickle back to the application.</p>
<p>When a Python object is serialized, Python needs to know how to restore its original state.
The pickle library looks in several places for this, but <a target="_blank" href="https://docs.python.org/3/library/pickle.html#object.__reduce__">here's</a> a good place to start.</a></p>

<p>If you successfully exploit this service, you will find a file in the working directory called <code>secret.txt</code></p>

<h4 class="subtitle">Mitigation</h4>
<p>Frankly, the only way to wholly mitigate the risks of insecure deserialization is to never accept serialized objects
from untrusted sources. Otherwise, cryptogrphically sign objects to detect tampering, and
run deserialization code in the lowest possible privilege environments.</p>
<p>As always, distrust all application inputs by default!</p>

<p>For further information, consult the <a target="_blank" href="https://www.owasp.org/index.php/Deserialization_Cheat_Sheet">OWASP Insecure Deserialization Cheat Sheet</a>.</p>
<br/>
{% endblock %}
