{% extends "syntax_highlight.html" %}

{% block headerkludge %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url('home') }}">Home</a></li>
    <li><a href="{{ url('exercises') }}">Exercises</a></li>
    <li class="is-active"><a href="#" aria-current="page">{% block exercise_name %}Command Injection{% endblock %}</a></li>
  </ul>
</nav>
{% endblock %}

{% block body %}
{% if result %}
<pre><code>{{ result }}</pre></code>
  <p class="content"><a href="{{ url('shell-injection3') }}">search another</a></p>

  {% else %}
  <div class="tabs">
    <ul>
      <li><a href="{{ url('shell-injection') }}">No Protections</a></li>
      <li><a href="{{ url('shell-injection2') }}">Some Protections</a></li>
      <li class="is-active"><a href="#">Secure?</a></li>
    </ul>
  </div>

  <p class="content">Hm. Can you <i>still</i> exploit it?</p>
  <form action="{{ url('injection3') }}" method="POST">
    <div class="field">
      <div class="control">
        <input name="domain" class="input" type="text" placeholder="domain">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button name="submit" class="button is-link">Submit</button>
      </div>
    </div>
  </form>

  <div class="section">
    <pre><code>
def injection3(request):
    '''Let's see you inject /bin/cat now!'''
    blacklist = ['cat', 'secret.txt']
    host = request.POST.get('domain')
    cmd = 'whois ' + host

    if any(filter(lambda x: x in host.lower(), blacklist)):
        result = b'Aha! No cats allowed!\n'
    else:
        result = subprocess.run(
            cmd,
            stdout=subprocess.PIPE,
            stderr=subprocess.STDOUT,
            shell=True
        ).stdout

    result = codecs.decode(result, 'utf-8', 'backslashreplace')
    return render(request, 'vulnerable/shell-injection3.html', {'result': result, 'cmd': cmd})
  </pre></code>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {% endif %}
  {% endblock %}

  {% block help %}
  <p>
  Just to be sure, you can always just inject commands other than <code>cat</code>.
  But that would be cheating! Find another solution and let me know how you did it.
  </p>
  {% endblock %}
