{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
{% endblock %}

{% block content %}
<div id="content">
{% block header %}
<h2 id="schroedingers-header" class="close-h"><a href="/" class="no-dec">WebApp Security 101</a></h2>
<h3 class="close-h"><a href="{{ url('exercises') }}">Exercises</a></h3>
{% endblock %}
{% block body %}
{% endblock %}
</div>

<script>
  if(window != window.parent) {
    console.log(document.getElementById('schroedingers-header'));
    document.getElementById('schroedingers-header').style.display = 'none';
  }
</script>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
