{% extends "base.html" %}

{% block headerkludge %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url('home') }}">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Exercises</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column is-narrow">
    <ul>
      <li><a href="{{ url('shell-injection') }}">Command Injection</a></li>
      <li><a href="{{ url('profile') }}">Broken Access Control</a></li>
      <li><a href="{{ url('admin') }}">SQL Injection</a></li>
      <li><a href="{{ url('restore-backup') }}">Insecure Object Deserialization</a></li>
      <li><a href="{{ url('xxe') }}">XXE</a></li>
      <!-- <li><a href="{{ url('profile') }}">Broken Authentication</a> -->
      <!-- <li><a class="no-dec" href="{{ url('deserialize-user') }}">Insecure Deserialization</a></li> -->
    </ul>
    <ul>
      <li><a href="https://xss-game.appspot.com/" target="_blank">XXS</a> (external, by Google)</li>
    </ul>
  </div>
  <div class="column">
    <p class="content">Keep checking back over the coming weeks. I'll be adding progressively
    harder and more realistic challenges throughout the summer.</p>
  </div>
</div>
{% endblock %}

