{% extends "base.html" %}

{% block content %}
<div class="content"
<p>This is a Django app exposing (many) intentional vulnerabilities for use as
an educational security tool. It should not be deployed to internet-facing
servers, as they <i>will</i> be compromised.</p>
<p>Looks like nobody's defaced this instance quite yet, so let's get started.</p>
<ul>
  <li>
    <a href="{{ url('login-check') }}?next={{ url('slides') }}">View the slides</a>
  </li>
  <li>
    <a href="{{ url('login-check') }}?next={{ url('exercises') }}">View the exercises</a>
  </li>
</ul>
</div>
{% endblock %}
