{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/reveal.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/slides.css">
{% endblock %}

{% block content %}
<div class="reveal">
  <div class="slides">
    <section id="title" class="level3 center">
      <h2>WebApp Security 101</h2>
      <h4>Exploiting and Mitigating the OWASP Top 10</h4>
    </section>

  </div>
</div>

<script src="{{ STATIC_URL }}js/reveal.js"></script>
<script>
for (let li of document.getElementsByTagName("li")) {
  li.classList.add("fragment");  // this is distracting
}

Reveal.initialize({
  transition: 'none',
  history: true,
  center: false,
  // only load external content for the current slide
  // this is just for the iframes
  viewDistance: 2,
});
</script>
{% endblock %}
