{% extends "challenge.html" %}

{% block header %}
  <h2 id="schroedingers-header" class="close-h"><a href="/" class="no-dec">WebApp Security 101</a></h2>
{% endblock %}

{% block body %}
  <h4 class="close-h">Exploiting and Mitigating the OWASP Top 10</h4>
  <p>
  This is a Django app exposing (many) intentional vulnerabilities for use as
  an educational security tool. It should not be deployed to internet-facing
  servers, as they will be compromised.
  </p>
  </p>
  <p>Looks like nobody's defaced this instance quite yet, so let's get started.</p>
  <ul>
    <li>
      <a href="{{ url('login') }}?next=slides">View the slides</a>
    </li>
    <li>
      <a href="{{ url('exercises') }}">View the exercises</a>
    </li>
  </ul>
{% endblock %}
